@import url('./aesthetics/landing.css');
@import url('./aesthetics/story.css');
@import url('./aesthetics/talon.css');

/* ========== ALL ========== */
body {
    overflow-x: hidden;
    margin: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

.background {
    position: fixed;
    inset: 0;
    background-color: #1d1d1d;
    z-index: -2;
}


@media (min-width: 768px) {
    body > *:not(#header) {
        padding: 0 10vw;
    }
}

/* ========== Header ========== */


.main-header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
    background-color: #1D1D1D;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 60px;
    height: 40px;
    background-color: #ffeaea;
}

.CTFName {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fce4e4;
    text-decoration: none;
}

.nav-link {
    color: #fce4e4;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.profile-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
  display: inline-block;
}

.profile-container {
    position: relative;
}

.profile-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #3f3f3f;
    border-radius: 5px;
    display: none;
}


/* ========== Dashboard & Buttons ========== */
.btn {
    margin: 10px;
    border: 0;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 3px;
    color: inherit;
    text-decoration: none;
    color: white;
    background-color: black;
}

.dropdown-btn {
    all: unset;
    margin: 10px;
    border: 0;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 3px;
    color: inherit;
    color: white;
}

/* ========== Pop-up ========== */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    min-width: 70vw;
    background: #1D1D1D;
    padding: 15px;
    border-radius: 8px;
    width: 90%;
    position: relative;
    font-size: clamp(10px, 1vw, 16px);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* ========== IDE ========== */

.terminal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

textarea {
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: #1D1D1D;
    color: white;
    width: 95%;
    height: 50vh;
    font-family: monospace;
    font-size: clamp(10px, 1vw, 16px);
}
pre {
    margin: 0;
    grid-row: 1;
    grid-column: 2 / 3;
    font-size: clamp(6px, 1vw, 10px);
    background-color: #1D1D1D;
    color: white;
    text-align: start;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}