@import url(' ./pages/talon/talon-rot13/rot13.css');
@import url(' ./pages/talon/talon-chatroom/chatroom.css');
@import url(' ./pages/talon/talon-secret/secret.css');

/* ========== ALL ========== */
body {
    text-align: center;
    padding: 0 15px;
}

@media (min-width: 768px) {
    body {
        padding: 0 20%;
    }
}

/* ========== Header ========== */
body.dashboard {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #1a1110;
    border-bottom: 1px solid #333;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 60px;
    height: 40px;
    background-color: #ffeaea;
}

.CTFName {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fce4e4;
}

.nav-link {
    color: #fce4e4;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.profile-circle {
    width: 35px;
    height: 35px;
    background-color: #ffeaea;
    border-radius: 50%;
}

.introduction,
.golden-talon {
    padding: 40px;
}

/* ========== Dashboard & Buttons ========== */
.btn {
    margin: 10px;
    border: 0;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 3px;
    color: inherit;
    text-decoration: none;
    background-color: lightgray;
}

.golden-talon-challenges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.challenge {
    background: lightgray;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.challenge-link {
    display: inline-block;
    background: lightgray;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

/* ========== Pop-up ========== */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}