/* ========== IDE & Input Styles ========== */
#userInput {
    padding: 4px 0;
    width: 50%;
}

textarea {
    width: 100%;
    height: 200px;
    font-family: monospace;
    font-size: 16px;
}

pre {
    text-align: start;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}