#talon-ch1-page {
    padding: 0;
    justify-content: left;
    background-color: black;
    color: green;
    text-align: start;
    font-family: monospace;
}

.hidden {
    color: #000;
    padding: 8px 12px;
    margin: 5px 0;
}