/* ========== HERO ========== */
.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    min-height: 60vh;
    background: linear-gradient(to bottom, #2c2c2c 20%, #474646)
}

.hero-content > h1 {
    font-size: clamp(30px, 4vw, 70px);
    font-weight: 600;
}

.hero-content > .btn {
    margin-left: 15%;
    color: black;
    background-color: #ABFF04;
    font-size: 20px;
    max-width: fit-content;
    padding: 10px 30px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    gap: 10vh;
}

/* ========== DESCRIPTION ========== */



.description > h2 {
        font-size: clamp(20px, 4vw, 50px);
        padding: 40px;
}

/*
.description {
  background-image:
    radial-gradient(circle, rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 24px 24px;
}
*/
.box {
    background-color: white;
    padding: 10vw;
    border: 5px solid #ABFF04;
    border-radius: 5px;
}

.boxes {
    padding: 15vh 0;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
