/* Simple Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

body > #header {
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    width: 100%;
    align-self: stretch;
    
}

body > .login-container {
    flex: 1;
    padding: 0 !important; /* Overriding the styles.css padding lol, couldn't figure out how else to do it lmao */
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    
}

p {
    color: #888;
    font-size: 14px;
    margin-bottom: 24px;
}

.input-group {
    margin-bottom: 16px;
}

input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #252525;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #64e785; /* "Matrix" green accent */
}

.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #ffffff;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

.login-btn:hover {
    background: #67da84;
    transform: translateY(-2px);
}

.form-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #666;
}

.form-footer a {
    color: #28743b;
    text-decoration: none;
    margin: 0 5px;
}

.form-footer a:hover {
    text-decoration: underline;
}