/* ========== Introduction ========== */

.introduction > h1 {
    font-size: clamp(30px, 4vw, 60px);
    padding: 1vw;
}

.levels {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.level {
    background: #333333;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.outer-level {
    position: relative;
    padding: 3vw 1vw 0 1vw;
}

#golden-talon {
    border: 2px solid gold;
    position: relative;
}

.claw {
  position: absolute;
  width: 5vw;
  height: 10vw;
  background: gold;
  clip-path: url(#claw);
}
.claw-left {
  left: 0;
  top: 0;
}

/* Right horn (mirrored) */
.claw-right {
    top: 0;
  right: 0;
  transform:scaleX(-1);
}

.level > .btn {
    display: flex;
    align-self: flex-end;
    font-size: clamp(12px, 2vw, 18px);
    max-width: fit-content;
    padding: 12px 35px;
    background-color: gold;
    color: black;
}

.level-content {
    max-width: 35vw;
}

.level-content > h2 {
    font-size: clamp(20px, 3vw, 40px);
}

.level-content > p {
    font-size: clamp(10px, 2vw, 15px);
}

/* ========== BACKGROUND ========== */
